<ion-view view-title="Spark Communication">
    <ion-content ng-class="{expanded:isExpanded}" overflow-scroll="true">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                
                <a href="" class="item item-avatar item-icon-right">
                    <img src="img/logo.jpg">
                    <h2>System Requirements</h2>
                    <p>Android 4.1+</p>
                    <p>iPhone OS 7+ </p>
                    
                </a>
                <a href="" class="item item-avatar item-icon-right">
                    <img src="img/logo.jpg">
                    <h2>Application Version</h2>
                    <p>1</p>
                    <small>Version 1.0</small>
                    
                </a>
                <a href="" class="item item-avatar item-icon-right">
                    <img src="img/logo.jpg">
                    <h2>Developed By</h2>
                    <p>Infoage Solutions</p>
                    <small>admin@infoagesolutions.co.ke</p>
                    
                </a>
                <a href="" class="item item-avatar item-icon-right">
                    <img src="img/logo.jpg">
                    <h2>Powered By</h2>
                    <p>InfoAge Solutions</p>
                    <small>admin@infoagesolutions.co.ke</p>
                    <br/>
                                        
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
