<style type="text/css">
.btn{
    font-size:120%;
}
    .timer{
        font-size:110%;
        width: 80%;
    }
</style>
<ion-view view-title="Products Inventory" class="page">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" overflow-scroll="true">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
        <div collection-repeat="inve in inventory | orderBy: 'created_at':true">

            <div class=" card-item">
                <div  class="card stable-bg white-card" style="background:white; color:#222;">
                    <div style="border-bottom:1px #ff9300 solid; color:#000; overflow:hidden; padding:0px 0px; ">
                        <table class="table table-bordered">

                            <tbody>
                            <tr>
                                <td class="title">Date:</td>
                                <td>{{inve.created_at}}</td>
                            </tr>
                            <tr>
                                <td class="title">Code:</td>
                                <td>{{inve.product.sku_code}}</td>
                            </tr>
                            <tr>
                                <td class="title">Name:</td>
                                <td>{{inve.product.name}}</td>
                            </tr>
                            <tr>
                                <td class="title">Stock:</td>
                                <td>{{inve.sale + ' Remaining'}}</td>
                            </tr>
                            <tr>
                                <td class="title">Outlet:</td>
                                <td>{{inve.outlet.name}}</td>
                                <div style="float: left;"> <a href="" class="btn button-light icon ion-trash-a"></a></div>
                                <div style="float: right;"> <a href="" class="btn button-light icon ion-edit"></a></div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </ion-list>
        <br/> <br/>

        <div class="hometabs animate-fade-slide-in" style="background: #ffffff;">
            <a href="" ui-sref="app.pos" >Back</a>
        </div>
    </ion-content>
</ion-view>
