<style type="text/css">

</style>
<ion-view view-title="Order Placement:{{name}}">
    <ion-content class="pos" ng-class="{expanded:isExpanded}" overflow-scroll="true">
        <div class="content has-header">
                <b><div style="color:#ababab; margin-left: 5%; padding-top:0px; text-align: center; "> Product Range:</div>
                        <center><select style="width: 92%;" class="form-control" ng-model="category" name="status" required/>
                        <option value="">All Products</option>
                        <option value="Beverages" selected>Beverages</option>
                        <option value="Indigo">Indigo</option>
                        <option value="Biscuits">Biscuits</option>
                        <option value="Pepsico">Pepsico Brands</option>
                        <option value="Personal">Personal Care</option>
                        </select></center></b>
            <br/>
                <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Check</th>
                                <th>Sku</th>
                                <th>Brand Name</th>
                                <th>Category</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="product in products | orderBy:'created_at' |filter:category">
                                <td><input type="checkbox" name="" value="" ng-model="checked[product.id]" ng-change="check(product.id, checked[product.id])"></td>
                                <td>{{product.sku_code}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.category.name}}</td>
                              </tr>
                            </tbody>
                          </table>

                        <div class="list col-80" style="margin:auto;float: inherit; ">

                        </div>
                </div>

            </div>
    </ion-content>
</ion-view>